<h1>Railroad Operations Manager</h1>

<%= link_to 'Stations List', railway_stations_path %> |
<%= link_to 'Trains List', trains_path %> |
<%= link_to 'Routes List', routes_path %> |
<%= link_to 'Cars List', cars_path %>
