<tr>
  <td><%= ticket.number %></td>
  <td><%= link_to t('common.show'), ticket %></td>
  <td><%= link_to t('common.cancel'), ticket, method: :delete, data: { confirm: t('common.confirmation')} %></td>
</tr>
