<h1><%= t('user.tickets') %></h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th><%= t('common.number') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render current_user.tickets %>
  </tbody>
</table>